*, *::before, *::after {
    box-sizing:border-box;
}

head h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.row:nth-child(odd) {
    background: #CCC
}


.row:nth-child(even) {
    background: rgb(123, 123, 123);
}


.col-details {
    font-size: 14px;
}

.img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 600px) {

    .row {
        flex-direction: row;
        justify-content: center;
    }

    .img {
        width: 480px;
        height: 270px;
    }

    .col-details {
        margin-right: 25px;
        font-size: 24px;
    }

}

